{% extends 'base-front.html.twig' %}
{% block content %}

{% block title %}New Reservation{% endblock %}

{% block body %}
<div id="all">

    <div id="content" style="margin-left: 450px">
        <div class="container">

            <div class="col-md-6">
                <div class="box">

    <h1>Create new Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_index') }}">back to list</a>
</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}
