{% extends 'base-back.html.twig'  %}
{% block title %}Role{% endblock %}

{% block body %}
    <div class="content-wrapper">
    <section class="content">
    <div class="col-md-8">
    <div class="card">

    <div class="card-header">
    <h1>Modifier role</h1>
    {{ form(userForm)}}
    </div>
    </div>
    </div>
    </section></div>

{% endblock %}