{% extends 'base-front.html.twig' %}
{% block body %}

<div id="all">

    <div id="content">


        <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
        <div id="advantages">
            <div class="box info-bar">
                <div class="row">


                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <h3>DECOUVREZ NOS COURS !</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                {% for g in tabcours %}
                <div class="same-height-row">
                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon"><i class="fa fa-heart"></i>
                            </div>

                            <h3><a href="{{ path('cours_detail', {"id": g.getId()}) }}">{{ g.nomCours}}</a></h3>
                            <p> <br> </p>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
                {% endfor %}
            </div>
            <!-- /.container -->

        </div>
        <!-- /#advantages -->


    </div>
    <!-- /#content -->
</div>

{% endblock %}